<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ROBOT_A">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ROBOT_A urdf file -->
    <xacro:include filename="$(find asow_hw_description)/urdf/robot_a.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ROBOT_A.ros2_control.xacro" />


    <xacro:ROBOT_A_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
